<% layout('layouts/boilerplate.ejs') %> 

<div class="row">
    <h1 class="text-center">Add a farm</h1>
    <div class="col-6 offset-3">
        <form action="/farms" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" name="farm[name]" id="name" required placeholder="Farm Name">
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" name="farm[location]" id="location" required placeholder="Farm location">
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="farm[email]" id="email" required placeholder="email ">
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="image">Upload</label>
                <input type="file" class="form-control" id="image" name="image" multiple>
              </div>
              
              
            <div class="mb-3">
              <button class="btn btn-success">Add Farm  </button>
            </div>

        </form>
       <a href="/products">All products</a>
    </div>
</div>


